<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Network Requests</title>
        <link rel="stylesheet" href="networkRequests.css" />
    </head>
    <body>
        <div id="network-requests-box">
            <div class="box-controllers">
                <div class="close">❌</div>
                <div class="minimize">➖</div>
            </div>
            <div class="requests-list">
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
                <div class="single-request-wrapper">
                    <div class="request-info">
                        <div class="request-method">GET</div>
                        <div class="request-url">https://www.google.com/</div>
                    </div>
                    <div class="request-status">200</div>
                </div>
            </div>
        </div>
        <script src="./networkRequests.js"></script>
    </body>
</html>
